/* RESET */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: #f6f8f9;
}

.container{
    height: 200px;
    padding-left: 30%;
    padding-top: 5%;
    position:relative; 
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* HEADER */

header{
    width: 100%;
    height: 60px;
    background: white;
}


#logo{
    line-height: 3em; 
    vertical-align: middle; 
    padding: 5px;;

}

#title{
    vertical-align: middle;
    height: 50px;
    font-size: 40px;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* MAIN */

.background{
    width:500px;
    height: 600px;
    background-color: white;
    padding-left: 10px;
    padding-top: 20px;
}

main div{
    padding-bottom: 5%;
}

hr{
    border: lightgray solid 1px;
    width: 300px;
}

button{
    color: white;
    background-color: #47adf1;
    border: 1px solid #47adf1;
    border-radius: 7%;
    padding: 1%;
}

.selection{
    font-size: 12px;
    color: lightgrey;
    border: lightgray solid 1px;
    border-radius: 7%;
    padding: 1%;
}


/* todo list */

.todo{
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

li{
    padding-top: 15px;
}

.pcheck{
    line-height: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    color: green;
    border: solid green 2px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}

.ncheck{
    line-height: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    color: red;
    border: solid red 2px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}

.Blabel{
    font-size: small;
    color: white;
    background-color: #47adf1;
    border: 1px solid ;
    border-radius: 30%;
    padding: 1%;
}

.Vlabel{
    font-size: small;
    color: white;
    background-color: violet;
    border: 1px solid ;
    border-radius: 30%;
    padding: 1%;
}

.Glabel{
    font-size: small;
    color: white;
    background-color: green;
    border: 1px solid ;
    border-radius: 30%;
    padding: 1%;
}

.Plabel{
    font-size: small;
    color: white;
    background-color: pink;
    border: 1px solid ;
    border-radius: 30%;
    padding: 1%;
}
